body {
  font-family: "Roboto Condensed", sans-serif;
  background: #1d1f2f;
}

svg {
  overflow: inherit;
}

.chartTitle {
  font-size: 1.2rem;
  justify-content: baseline;
  position: absolute;
  padding-left: 20px;
  padding-top: 5px;
  text-align: left;
  font-weight: 700;
  color: gainsboro;
}

text {
  fill: gainsboro;
  color: gainsboro;
  font-size: 15px;
}

.subtitle text {
  text-decoration: underline;
  font-size: 12px;
}

.axis .domain,
.axis.xAxis line {
  display: none;
}
